/*------------------*/
/* General          */
/*------------------*/
p {
    margin-top: 30px !important;
}

footer a {
    color: #212529 !important;
    transition: all .2s;
}
footer a:hover {
   color: #0085a1 !important;
}

/*---------------*/
/*------Home-----*/
/*---------------*/

/*-------Home Header--------*/
#home_header{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*-------Home Lastest Sanwiches--------*/
#home_content{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*---------------*/
/*------About----*/
/*---------------*/

/*-------Header - About--------*/
#about_header {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*--------------------*/
/*------Sandwiches----*/
/*--------------------*/


/*--------------------*/
/*---------Login------*/
/*--------------------*/

/*--------------------*/
/*---------Signup-----*/
/*--------------------*/

/*--------------------*/
/*---------Profile----*/
/*--------------------*/

/*--------------------*/
/*----Add Sandwich----*/
/*--------------------*/