/* ================================================ */
/* General stuff - mostly small adjustments         */
/* ================================================ */
p {
    margin-top: 30px !important;
}

footer a {
    color: #212529 !important;
    transition: all .2s;
}
footer a:hover {
   color: #0085a1 !important;
}

div#categories_filter {
    margin-bottom: 1em;
    text-transform: uppercase;
}

div#categories_filter ul {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}

div#categories_filter li { 
  display: inline;
}

div#categories_filter li a:hover { 
  text-decoration: none;
}

div#categories_filter li:not(:last-child):after {
  content: " | ";
  padding:0.25em;
}

div.card {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

div.card img {
    max-width: 360px;
}


/*---------------*/
/*------Home-----*/
/*---------------*/

/*-------Home Header--------*/
#home_header{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*-------Home Lastest Sanwiches--------*/
#home_content{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*---------------*/
/*------About----*/
/*---------------*/

/*-------Header - About--------*/
#about_header {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*--------------------*/
/*------Sandwiches----*/
/*--------------------*/


/*--------------------*/
/*---------Login------*/
/*--------------------*/

/*--------------------*/
/*---------Signup-----*/
/*--------------------*/

/*--------------------*/
/*---------Profile----*/
/*--------------------*/

/*--------------------*/
/*----Add Sandwich----*/
/*--------------------*/