{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <h2>Our story</h2>
            <p>iSandwich was founded in Sundsvall, Sweden in 2021 by Daniel "the Sandwich Guru" Nagy.</p>
        
            <p>The need for a Sandwich community  was very important at that time and it is still to this day (and maybe forever).</p>
            
            <p>He promised to help his Sandwich friends to build a fun community on the web and only a few days later... the "iSandwich" was born. Yay!  </p>
        
        </div>
    </div>

{% endblock %}
