{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>We believe in nothing but sandwich!</h2>

            <p>Here at iSandwich you will find a various range of the the most popular sandwiches.</p>
            
            <p>Feel free to <a href="{{ url_for('signup_form') }}">join</a> our community and share your <a href="{{ url_for('sandwiches') }}">sandwich recipes!</a> </p>
        </div>
    </div>

{% endblock %}