{% extends "base.html" %}
{% block content %}

{% if message %} {{ message }} {% endif %}

<!-- Form Sign Up - from getbootstrap.com -->
<form class="card mt3" method="POST" action="/login">
    <div class="form-group">
        <label for="user_name">Username</label>
        <input type="text" class="form-control" name="user_name" id="user_name"  placeholder="Enter a username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter a password">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>

{% endblock %}