{% extends "base.html" %}
{% block content %}
<h1>Profile</h1>
<hr>

{% if message %}
    {{ message }}
{% endif %}

{% if 'display_name' in session: %}
    {{ session['display_name'] }}
<hr>
{% if user_sandwiches[0] %}
<div class="card-group">

    {% for us in user_sandwiches %}
    <div class="card text-center">
        <img src="static/img/sandwiches/{{ us["image"] }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ us["sandwich_name"] }}</h5>
            <p class="card-text">{{ us["description"] }}.</p>
            <p class="card-text"><small class="text-muted">Category: {{ us["category"] }}</small></p>
        </div>
        <div class="text-center">
             <a href="{{ url_for('edit_sandwich') }}" class="btn btn-primary">Edit</a>
             <a href="{{ url_for('delete_sandwich') }}" class="btn btn-danger ">Delete</a>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <h4>Still hungry - no Sandwiches!!!</h4>
    {% endif %}
   

{% endif %}

{% endblock %}