{% extends "base.html" %}
{% block content %}

<!-- Form to post/add a Sandwich to MongoDB -->
<form class="card mt3 shadow" method="POST" action="/add_sandwich">
    <fieldset>
        <div class="form-group">
            <label for="sandwich_name">Sandwich Name</label>
            <input type="text" name="sandwich_name" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" class="form-control" required>
                <option>--Choose a category--</option>

                {% if categories[0] %}
                    {% for cat in categories %}
                    <option value="{{ cat["category_name"] }}">{{ cat["category_name"] }}</option>
                    {% endfor %}
                {% endif %}

            </select>
        </div>
        <div class="form-group">
            <label for="prep_time">Preparation time</label>
            <input type="text" name="prep_time" value="" class="form-control" placeholder="Estimated time" required>
        </div>
        <div class="form-group">
            <label for="ingredients">Ingredients</label>
            <textarea name="ingredients" rows="2" class="form-control" placeholder="One ingredient per time"
                required></textarea>
        </div>
        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea name="instructions" rows="2" class="form-control" placeholder="One instruction per time"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <!-- This will be a fileupload in version 2.0 -->
            <input type="text" name="image" class="form-control" placeholder="Enter name of image, ie. tomato_sandwich.jpg" required>
        </div>
        <button type="submit" class="btn btn-success">Add your sandwich!</button>
    </fieldset>
</form>

{% endblock %}