{% extends "base.html" %}
{% block content %}

    {% if sandwich %}

    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img src="/static/img/sandwiches/{{ sandwich.image }}" alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">{{ sandwich.sandwich_name }}</h4>
            <ul>
                <li>Description: {{ sandwich.description }}</li>
                <li>Category: {{ sandwich.category }}</li>
                <li>Preparation: {{ sandwich.prep_time }}</li>
                <li>Ingredients: {{ sandwich.ingredients }}</li>
            </ul>
        </div>
        <div class="w-100"></div>
        <div class="card-footer w-100 text-muted">&nbsp;</div>
    </div>


    {% endif %}

{% endblock %}