{% extends "base.html" %}
{% block content %}

{% if sandwich %}

<!-- Form to post/add a Sandwich to MongoDB -->
<form class="card mt3 shadow" method="POST" action="/update_sandwich"">
    <input type="hidden" name="id" value="{{ sandwich._id }}">
    <fieldset>
        <div class="form-group">
            <label for="sandwich_name">Sandwich Name</label>
            <input type="text" name="sandwich_name" value="{{ sandwich.sandwich_name }}" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" value="{{ sandwich.description }}" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" class="form-control" required>
                <option>--Choose a category--</option>
                {% if categories[0] %}
                    {% for cat in categories %}
                    <option value="{{ cat["category_name"] }}"
                    {% if sandwich.category == cat["category_name"] %}     selected="selected"
                    {% endif %}
                    >{{ cat["category_name"] }}</option>
                    {% endfor %}
                {% endif %}

            </select>
        </div>
        <div class="form-group">
            <label for="prep_time">Preparation time</label>
            <input type="text" name="prep_time" value="{{ sandwich.prep_time }}" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="ingredients">Ingredients</label>
            <textarea name="ingredients" rows="2" class="form-control" placeholder="One ingredient per time"
                required>{{ sandwich.ingredients }}</textarea>
        </div>
        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea name="instructions" rows="2" class="form-control" placeholder="One instruction per time">{{ sandwich.instructions }}</textarea>
        </div>

        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" name="image" value="{{ sandwich.image }}" class="form-control" placeholder="Enter name of image, ie. tomato_sandwich.jpg" required>
        </div>
        <button type="submit" class="btn btn-success">Update your sandwich!</button>
    </fieldset>
</form>

{% endif %}


{% endblock %}